{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/page_login.js' %}"></script>   
    <script src="{% static 'js/index.js' %}"></script> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nokkapood</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700"/>
    <!-- <link rel="stylesheet" href="static/css/page_login.css"/> -->
    <link rel='stylesheet' href="{% static 'css/page_login2.css' %}">
</head>
<body>
  <div class="page-login-toT">
    <div class="auto-group-vzxu-cDf">
      <img class="red-cardinal-1-K85" src="https://s3-alpha-sig.figma.com/img/bd5d/0786/26161c54c1074136c4ce5a99c49768ec?Expires=1701043200&Signature=JCvmcWi3P-AjqsX74KzSYKpJ-rvvRtQARCA95IPkhApbK4HeMjWTzm~MG4MXEKIs6shCccW29pI8f2k77LPmf5BI4-ZNvcgcKpY~v3DpT-9RZzkkKIRB0NMVCW1~UUlvab~ixgGdrHw5QUmbFeIU91M8iV1t52-gTcQpoESMrHSHEzA1fxfkKw6QVjl-VpnCjpfNAyqY-B9QSc10SHyTFeSS5iNtYBCAxCZpzSO0eo9xJbyLYzHcGqnPku3RfuXAyUHzYVa28nGDCZR9sbDwYb~lNOknMYPUiMBAThz~QIN2TSwJPhkccNUkpqf5Uh4yEOy-xIH4Xju0TJ8Dgff7Zw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
      <p class="nokkapood-travel-q6R">Nokkapood Travel</p>
      <div class="group-33-85X">
        <a href="{% url 'finalreservation' %}">การจองของฉัน</a>
      </div>
      <div class="group-33-85X">
          <div class="buttomF">Username: {{ user.username }}</div>
      </div>
    </div>
    <h1>Reservation Details</h1>
    
        {% for reservation in data %}
            <form action="{% url 'payment2' %}" method="GET"></form>
                <h2>Flight Information</h2>
                <p>Flight ID: {{ reservation.flight_id_id }}</p>
                <p>Departure Airport: {{ reservation.departure_airport }}</p>
                <p>Arrival Airport: {{ reservation.flight.arrival_airport }}</p>
                <p>Departure Date: {{ reservation.flight.departure_date }}</p>
                <p>Arrival Date: {{ reservation.flight.arrival_date }}</p>
                <p>Departure Time: {{ reservation.flight.departure_time }}</p>
                <p>Arrival Time: {{ reservation.flight.arrival_time }}</p>

                <h2>Passenger Information</h2>
                <p>First Name: {{ reservation.passenger.first_name }}</p>
                <p>Last Name: {{ reservation.passenger.last_name }}</p>

                <h2>Ticket Information</h2>
                <p>Ticket ID: {{ reservation.ticket.ticket_id }}</p>
                <p>Total Amount: {{ reservation.ticket.total_amount }}</p>
                <p>Booking Date: {{ reservation.ticket.booking_date }}</p>
                <button type="submit" class="btn">เลือก</button>
                <input type="hidden" name="total_amount" value="{{ reservation.ticket.total_amount  }}">
            </form>
            <hr>  <!-- เพิ่มเส้นขั้นระหว่างการจองตั๋วแต่ละรอบ -->
        {% endfor %}
    
</body>
</html>
