{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>หน้าสรุปการจอง</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="static/css/fireservation.css"/>
</head>
<body>
<div class="item--6Em">
  <div class="rectangle-16-YMf">
  </div>
  <div class="group-33-GYZ">การจองของฉัน</div>
  <div class="rectangle-17-VgD">
  </div>
  <p class="nokkapood-travel-2RF">Nokkapood Travel</p>
  <div class="group-3-8UH">
    <img class="majesticons-user-1Y5" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/370317888_1007795627182360_6994453740821232739_n.png?_nc_cat=104&ccb=1-7&_nc_sid=510075&_nc_eui2=AeHnNvwnPRcQFoi4DOa-UH-XT-aLRCFZ14xP5otEIVnXjJDk6PSImOx-roo1shXFJv_aZBtqGDSaM5ZaSV7XO-P2&_nc_ohc=U_IzR2_mZA8AX-twlRx&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTQfutYrgizkNNUPWsino_xgFQaq8Rp_bNcRQ-ysB6aDA&oe=6585BD8F"/>
    <p class="user-id-012345678-8Mo">User ID {{users.user_id}}</p>
  </div>
  <img class="red-cardinal-2-Rbo" src="https://s3-alpha-sig.figma.com/img/bd5d/0786/26161c54c1074136c4ce5a99c49768ec?Expires=1701043200&Signature=JCvmcWi3P-AjqsX74KzSYKpJ-rvvRtQARCA95IPkhApbK4HeMjWTzm~MG4MXEKIs6shCccW29pI8f2k77LPmf5BI4-ZNvcgcKpY~v3DpT-9RZzkkKIRB0NMVCW1~UUlvab~ixgGdrHw5QUmbFeIU91M8iV1t52-gTcQpoESMrHSHEzA1fxfkKw6QVjl-VpnCjpfNAyqY-B9QSc10SHyTFeSS5iNtYBCAxCZpzSO0eo9xJbyLYzHcGqnPku3RfuXAyUHzYVa28nGDCZR9sbDwYb~lNOknMYPUiMBAThz~QIN2TSwJPhkccNUkpqf5Uh4yEOy-xIH4Xju0TJ8Dgff7Zw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"/>
  <div class="rectangle-27-9Gu">
  </div>
  <div class="mdi-currency-thai-baht-GMX">
  </div>
  <div class="rectangle-10-zYR">
  </div>
  <img class="rectangle-28-JJD" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/372845570_305805145691917_5945313727716149439_n.png?_nc_cat=104&ccb=1-7&_nc_sid=510075&_nc_eui2=AeF-Il3HQ0YBMdZmN8tM6PeitwhaEITmGZi3CFoQhOYZmCzdgWNZTnJw8P9FMYrMls7Ge7BNSsirzN9NJdKLpolx&_nc_ohc=lga3tDiEXMMAX_e-x9d&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRBWZTQFZ1XKuOtzUspPFm-h0oFXByNxWjd3DSSbxaApQ&oe=6586CE07"/>
  <p class="item--2ED">หมายเลขการจอง</p>
  <p class="item--6Uy">การจองของฉัน</p>
  <p class="item--yof">โปรดระบุหมายเลยการจอง</p>
  <div class="group-34-ShF">ค้นหา</div>
  <div class="group-36-vMX">ชำระ</div>
  <div class="group-35-yqb">ยกเลิก</div>
  <p class="item--rPb"> {{flight.departure_airport}} to {{flight.arrival_airport}}</p>
  <p class="item-600000-L3s">{{flight.price}}</p>
  <div class="line-3-2hP">
  </div>
  <p class="item-0121212121-xL9">หมายเลขการจอง: {{booking.booking_id}}</p>
  <p class="item-5-2023-RjX">วันที่จอง: {{booking.booking_date}}</p>
  <p class="fd0123-VDb">{{booking.flight_id}}</p>
  <p class="yuvakorn-denamonlerd-bXX">{{ register.name }}</p>
  <p class="item-6-0815--VN1">{{ flight.departure_date }} {{ flight.departure_time}}</p>
  <p class="item-6-1045--m4d">{{ flight.arrival_date }} {{ flight.arrival_time }}</p>
  <div class="rectangle-29-q4V">
  </div>
  <p class="item--4T3">เที่ยวบิน</p>
  <p class="item--xYR">ผู้โดยสาร</p>
  <p class="item--SyP">เวลาออกเดินทาง</p>
  <p class="item--vtZ">เวลาเดินทางถึง</p>
  <div class="line-4-oxM">
  </div>
  <img class="jam-plane-f-YQ9" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400929067_329116166496459_5885750147781415696_n.png?_nc_cat=105&ccb=1-7&_nc_sid=510075&_nc_eui2=AeHth-n6U8MJHxh4xGth3XgVjE3R1dayCuuMTdHV1rIK65AwM2PkMswO8K6xk-C8SunEGg9ryCkjckDO31pYdR_Y&_nc_ohc=pq5mYXC50PAAX8orI8v&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdS5D1Pnti-a1owcbSe_VPMfZo_fP_kqbGAPXgCdSQFWIw&oe=6586BC5F"/>
</div>
</body>