{% extends 'components/site_base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block head%}
<link rel="stylesheet"  href="{% static 'css/style.css' %}"/>
{% endblock %}

<!-- This is your existing HTML structure -->
<body>
    <div style="width: 100%; height: 100%; background: rgba(200, 139, 142, 0.70)"></div>

    <div class="container">
        <div class="head">
            <img class="img" src="https://s3-alpha-sig.figma.com/img/bd5d/0786/26161c54c1074136c4ce5a99c49768ec?Expires=1701043200&Signature=JCvmcWi3P-AjqsX74KzSYKpJ-rvvRtQARCA95IPkhApbK4HeMjWTzm~MG4MXEKIs6shCccW29pI8f2k77LPmf5BI4-ZNvcgcKpY~v3DpT-9RZzkkKIRB0NMVCW1~UUlvab~ixgGdrHw5QUmbFeIU91M8iV1t52-gTcQpoESMrHSHEzA1fxfkKw6QVjl-VpnCjpfNAyqY-B9QSc10SHyTFeSS5iNtYBCAxCZpzSO0eo9xJbyLYzHcGqnPku3RfuXAyUHzYVa28nGDCZR9sbDwYb~lNOknMYPUiMBAThz~QIN2TSwJPhkccNUkpqf5Uh4yEOy-xIH4Xju0TJ8Dgff7Zw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
            <h1>Nokkapood Travel</h1>
        </div>
        <!-- Link to the 'register' view -->
        <a href="register" class="buttonLink">
            <div class="buttomF">ลงทะเบียน</div>
        </a>
        <!-- Link to the 'home' view -->
        <a href="login_page" class="buttonLink">
            <div class="buttomF">เข้าสู่ระบบ</div>
        </a>
    </div>
</body>







</html>