{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>หน้าชำระเงิน</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A600%2C700"/>
  <link rel="stylesheet" href="static/css/payment.css"/>
  <script src="{% static 'js/payment.js' %}"></script>   
</head>
<body>
<div class="item--sc5">
  <div class="rectangle-16-Mn9">
  </div>
  <div class="rectangle-17-Hvh">
  </div>
  <div class="logo">
    <img src="https://cdn.discordapp.com/attachments/698939910131941466/1177422315043172452/red-cardinal_1.png?ex=657272fb&is=655ffdfb&hm=267f647492cd9e8f7b753e3914a3284b3be0f9ff792280d0fac19a3c7c620179&" alt="">
  </div>
  <p class="nokkapood-travel-cTB">Nokkapood Travel</p>
  <div class="rectangle-27-ddB">
  </div>
  <div class="rectangle-10-Zmj">
  </div>
  <p class="item--Gw3">เลือกวิธีชำระเงิน</p>
  <p class="qr-promptpay-LR7">QR PromptPay</p>
  <img class="image-12-F2H" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400077935_2028056610883986_6273994106867302319_n.png?stp=dst-png_p206x206&_nc_cat=108&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFDNxfvs_x7q7SEzp07bgEjNKDflmnqrOw0oN-Waeqs7GHbhcWTJSRVx9OiZLDMiWsXXAb0CVD9wFuGEllaf8_I&_nc_ohc=vPutblSxnbAAX_GmqJC&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQjg1hl0V61jCxytzM4gIY4xTjyGK0lb0ogcnkATs_r2g&oe=6585973B"/>

  <button type="submit" class="group-38-aKT" onclick="window.location.href='qrcode'">ชำระเงิน</button>

  <div class="line-3-4Ed"></div>
  <img class="material-symbols-circle-outline-bEZ" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400882382_1001315494310995_2953537142373984329_n.png?_nc_cat=102&ccb=1-7&_nc_sid=510075&_nc_eui2=AeGQ4d8nibRYHiWbW6K5j1d-i9JJ4SZfrdWL0knhJl-t1SW8Dcu6170WBnKs9Ol0f3I06PiTgDySle9M-OmDzaTQ&_nc_ohc=uAasUV49pN0AX-jLbKx&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSYaQIWRjJuI9siEpW9ivTWSB0omsbV625W5oIFRD75hQ&oe=65858A2A"/>
  </div>
</div>
</body>