<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>หน้าชำระเงิน</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A600%2C700"/>
  <link rel="stylesheet" href="static/css/payment.css"/>
</head>
<body>
<div class="item--sc5">
  <div class="rectangle-16-Mn9">
  </div>
  <div class="rectangle-17-Hvh">
  </div>
  <p class="nokkapood-travel-cTB">Nokkapood Travel</p>
  <img class="red-cardinal-1-K85" src="https://s3-alpha-sig.figma.com/img/bd5d/0786/26161c54c1074136c4ce5a99c49768ec?Expires=1701043200&Signature=JCvmcWi3P-AjqsX74KzSYKpJ-rvvRtQARCA95IPkhApbK4HeMjWTzm~MG4MXEKIs6shCccW29pI8f2k77LPmf5BI4-ZNvcgcKpY~v3DpT-9RZzkkKIRB0NMVCW1~UUlvab~ixgGdrHw5QUmbFeIU91M8iV1t52-gTcQpoESMrHSHEzA1fxfkKw6QVjl-VpnCjpfNAyqY-B9QSc10SHyTFeSS5iNtYBCAxCZpzSO0eo9xJbyLYzHcGqnPku3RfuXAyUHzYVa28nGDCZR9sbDwYb~lNOknMYPUiMBAThz~QIN2TSwJPhkccNUkpqf5Uh4yEOy-xIH4Xju0TJ8Dgff7Zw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
  <div class="rectangle-27-ddB">
  </div>
  <div class="rectangle-10-Zmj">
  </div>
  <p class="item--Gw3">เลือกวิธีชำระเงิน</p>
  <p class="qr-promptpay-LR7">QR PromptPay</p>
  <img class="image-12-F2H" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400077935_2028056610883986_6273994106867302319_n.png?stp=dst-png_p206x206&_nc_cat=108&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFDNxfvs_x7q7SEzp07bgEjNKDflmnqrOw0oN-Waeqs7GHbhcWTJSRVx9OiZLDMiWsXXAb0CVD9wFuGEllaf8_I&_nc_ohc=vPutblSxnbAAX_GmqJC&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQjg1hl0V61jCxytzM4gIY4xTjyGK0lb0ogcnkATs_r2g&oe=6585973B"/>
  <div class="group-38-aKT">ชำระเงิน ฿ 3000.00</div>
  <div class="line-3-4Ed">
  </div>
  <img class="material-symbols-circle-outline-bEZ" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400882382_1001315494310995_2953537142373984329_n.png?_nc_cat=102&ccb=1-7&_nc_sid=510075&_nc_eui2=AeGQ4d8nibRYHiWbW6K5j1d-i9JJ4SZfrdWL0knhJl-t1SW8Dcu6170WBnKs9Ol0f3I06PiTgDySle9M-OmDzaTQ&_nc_ohc=uAasUV49pN0AX-jLbKx&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSYaQIWRjJuI9siEpW9ivTWSB0omsbV625W5oIFRD75hQ&oe=65858A2A"/>
  <div class="rectangle-28-7Cu">
  </div>
  <img class="image-6-orR" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400083287_1007016087065087_2687942627968108406_n.png?_nc_cat=109&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFgQAhOsvjPJLCYa7xgt4qlAJpaJ56Vre8AmlonnpWt7-oJeU67kiucQD1oqwqHGxNzTEx5-nbCQ1DCvkS2sojM&_nc_ohc=df6cWTKQqW4AX_F1A3t&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRtGco0quUZw7el3JU6Z93-BFhy7ho3XJ5_1nsEF0nE0w&oe=65859361"/>
  <p class="k-plus-wSq">โอนเงินผ่านแอป K PLUS</p>
  <img class="material-symbols-circle-outline-S8h" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400882382_1001315494310995_2953537142373984329_n.png?_nc_cat=102&ccb=1-7&_nc_sid=510075&_nc_eui2=AeGQ4d8nibRYHiWbW6K5j1d-i9JJ4SZfrdWL0knhJl-t1SW8Dcu6170WBnKs9Ol0f3I06PiTgDySle9M-OmDzaTQ&_nc_ohc=uAasUV49pN0AX-jLbKx&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSYaQIWRjJuI9siEpW9ivTWSB0omsbV625W5oIFRD75hQ&oe=65858A2A"/>
  <img class="rectangle-29-xsj" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400032686_714878783883411_4122039819221437351_n.png?stp=dst-png_s1080x2048&_nc_cat=105&ccb=1-7&_nc_sid=510075&_nc_eui2=AeEfOZK4LHlbpy0aEt3VquEVTlGj8ZL5Ky5OUaPxkvkrLv0cQl_g3YpUh1mASZ2uM0tpChWfdR5wwl9VZSh3iWbD&_nc_ohc=kZw5Xz7a1bgAX_SooM4&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSaejDptYVfBVUd2CFqePiw4ASgcZaKF3X61Bmh07Xoqw&oe=658598DB"/>
  <div class="rectangle-30-gHw">
  </div>
  <div class="group-37-BkV">
    <img class="image-12-uRb" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/399874675_2024816837883370_5174838451362308966_n.png?stp=cp0_dst-png&_nc_cat=104&ccb=1-7&_nc_sid=510075&_nc_eui2=AeGSopwaRGhtPaGy_nG8hNnImLHcFzuSTtiYsdwXO5JO2EedzMkzFKgJpBTPaOFSUPKV7sUvqo9e8ani9OzF8o1T&_nc_ohc=6sYwJ4oEFmcAX9d37iy&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdS1oyzLRMCIafaFY2ZseDGI6kfh1iVjrrCasR8UOej8Zw&oe=6585A674"/>
    <img class="bxs-down-arrow-1zR" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/368509552_323443780551379_4607759932331667607_n.png?stp=cp0_dst-png&_nc_cat=107&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFyLLkyfmSK4Oq-r_hssj61z4k7z2fV6QfPiTvPZ9XpB-P5v1GzdyLlVbmQF8bb_tuqzP-thQZb6btySO9Ofbpv&_nc_ohc=T9OokyNgckUAX9uObc4&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRo3MgpSadYrSast83zTP0FXxKTtJycLGAkhYMKlhpxZw&oe=6585AAE8"/>
    <img class="image-8-YDf" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/399874675_2024816837883370_5174838451362308966_n.png?stp=cp0_dst-png&_nc_cat=104&ccb=1-7&_nc_sid=510075&_nc_eui2=AeGSopwaRGhtPaGy_nG8hNnImLHcFzuSTtiYsdwXO5JO2EedzMkzFKgJpBTPaOFSUPKV7sUvqo9e8ani9OzF8o1T&_nc_ohc=6sYwJ4oEFmcAX9d37iy&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdS1oyzLRMCIafaFY2ZseDGI6kfh1iVjrrCasR8UOej8Zw&oe=6585A674"/>
    <img class="image-9-GfT" src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.15752-9/370302192_313332674832107_7855310634704613216_n.png?stp=cp0_dst-png&_nc_cat=110&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeFMB8FH1KEoJKZdfIGv00s9eqUjfRjxKrV6pSN9GPEqtUGHGqm7yGgSozUC9a5dD-j4ni35R7y6RffYeH8ohL1j&_nc_ohc=LyJCLkOB8F4AX8__b7S&_nc_ht=scontent.fbkk22-3.fna&oh=03_AdRM22sl7lsUqpC06swhFp3dRCWGX67qGkSTAPFrWH7kSg&oe=6585915E"/>
    <img class="image-7-1N9" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400190286_902948267371647_1571474326346502054_n.png?stp=cp0_dst-png&_nc_cat=104&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFT16sdi142JwTKMrKdxC0cfRlTHXcHIep9GVMddwch6jaPTI0cPgn20rxF5M1reZNAzilBF-q1a8E9pTOfK1gi&_nc_ohc=IubZUJ4sbqEAX-wl5Dn&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRIQo5EBAxVTf6cIWmAbVmsWoG5mjq_NvGXmvVnGf-aug&oe=658591E8"/>
    <img class="image-10-kKj" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/371396557_1061345461949227_2267489964499390913_n.png?stp=cp0_dst-png&_nc_cat=108&ccb=1-7&_nc_sid=510075&_nc_eui2=AeFlCItPmis1prYo9Ijmt8Y112BsQmYe0zbXYGxCZh7TNoJxiuYNkWNdgKssFFas0pFZQ3M5k1mM8pdfpwQc6gia&_nc_ohc=mllGctDBPlgAX_-pgEp&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTq32yakT0biCNdJoN8LH1UbLRPCuGtlxNx7iF_E9Kv1w&oe=65857AF9"/>
    <img class="image-11-VHK" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400001109_936589771318716_4943583206168152449_n.png?stp=cp0_dst-png&_nc_cat=109&ccb=1-7&_nc_sid=510075&_nc_eui2=AeETpIjZ3skJsiEmLfKQ1l0-4YwwABeNWDDhjDAAF41YMKTINzLMNKtj6Ktk9L_ab-JRwX_Gi29SMHCebudDdhnc&_nc_ohc=KQm0s-yOv7AAX-5-bz9&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSFL4vKoROg4MxvuviDa-hNhDGYitFOiUpZNz9f2VTPPg&oe=658581F2"/>
  </div>
  <p class="item--deR">สแกนเพื่อชำระเงิน</p>
  <p class="item--VRj">ธนาคารกรุงศรีอยุธยา</p>
  <img class="material-symbols-circle-outline-ksT" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/400882382_1001315494310995_2953537142373984329_n.png?_nc_cat=102&ccb=1-7&_nc_sid=510075&_nc_eui2=AeGQ4d8nibRYHiWbW6K5j1d-i9JJ4SZfrdWL0knhJl-t1SW8Dcu6170WBnKs9Ol0f3I06PiTgDySle9M-OmDzaTQ&_nc_ohc=uAasUV49pN0AX-jLbKx&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSYaQIWRjJuI9siEpW9ivTWSB0omsbV625W5oIFRD75hQ&oe=65858A2A"/>
  <img class="dashicons-no-4t9" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/399956810_1516271269134106_1472463378600716959_n.png?stp=dst-png_p206x206&_nc_cat=105&ccb=1-7&_nc_sid=510075&_nc_eui2=AeGtwFj752gedm-iTSKvx3v57PkseXOneVTs-Sx5c6d5VJAS-gcrbXufIKSGFqa_fj_syo760AIxHx4U6ANCy6hd&_nc_ohc=6DDpPx8np7EAX_pog97&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQcpOXjM0DBxx9Wjo85TawWJHIZw4SHeA6ecMqW8VcLqQ&oe=6585A390"/>
</div>
</body>