<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ข้อมูลลงทะเบียน</title>

  <link rel="stylesheet" href="static/css/login.css">
  
  
</head>
<body>
  
    <main>
      <div class="left-box">
        <div class="left-box-info">
          <h3>ลงทะเบียน/Register</h3>
          <form action="">
            <div class="form-control">
              <label for="name">Name</label>
              <input type="text" placeholder="Enter your name">
            </div>
            <div class="form-control">
              <label for="email">Email</label>
              <input type="email" placeholder="Enter your email">
            </div>
            <div class="form-control">
              <label for="password">Password</label>
              <input type="password" placeholder="Enter your password">
            </div>
            <div class="check-box">
              <input type="checkbox">
              <span>I agree to the <a href="#">term & policy</a></span>
            </div>
            <div class="sign-up">
              <button type="submit">Sign up/ลงทะเบียน</button>
            </div>
            <p>Have an account? <a href="http://127.0.0.1:5500/NokKapood_Travel/index/templates/register.html">Sign in</a></p>
          </form>
        </div>
      </div>
      <div class="right-box">
        <img src="https://images.unsplash.com/photo-1545132147-d037e6c54cfd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
    </main>


</body>
</html>

