<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ข้อมูลลงทะเบียน</title>

  <link rel="stylesheet" href="static/css/register.css">
  
  <style>
    span {
      display: inline-block;
      word-wrap: break-word;
      /* optional: set width to control element width */
      width: 400px; 
    }
  </style>
  
</head>
<body>
  
    <main>
      <div class="left-box">
        <div class="left-box-info">
          <h3>ลงทะเบียน/Register</h3>
          <form action="">
            <div class="form-control">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required placeholder="Enter your Username">
            </div>
            <div class="form-control">
                <label for="first-name">Firstname</label>
                <input type="text" id="first_name" name="first_name" required placeholder="Enter your firstname">
              </div>
            <div class="form-control">
              <label for="lastname">Lastname</label>
              <input type="text" id="last_name" name="last_name" required placeholder="Enter your lastname">
            </div>  
            <div class="form-control">
              <label for="email">Email</label>
              <input type="email" placeholder="Enter your email">
            </div>
            <div class="form-control">
              <label for="password">Password</label>
              <input type="password" placeholder="Enter your password">
            </div>
            <div class="check-box">
              <input type="checkbox">
              <span>ยอมรับเงื่อนไขข้อกำหนดและนโยบายความปลอดภัยของ Nokkapood Travel</span>
            </div>
            <div class="sign-up">
              <button type="submit">Sign up</button>
            </div>
            <p>Have an account? <a href="http://127.0.0.1:8000/login_page">Login</a></p>
          </form>
        </div>
      </div>
      <div class="right-box">
        <style>
          .custom-image {
            width: 840px;
            height: 780px;
            border-radius: 15px;
            margin-left: 50px;
          }
        </style>
        <img class="custom-image" src="https://images.unsplash.com/photo-1527517928481-bcf8d6534de0?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
    </main>

    <script>
       function submitFormAndRedirect() {
        // Get the form element
        var form = document.getElementById("registrationForm");

        // Perform form submission (you may need to add validation here)
        form.submit();

        // Redirect to the information page
        window.location.href = "information.html";
      }
    </script>

</body>
</html>

