
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--sc5 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-16-Mn9 {
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0.4600000083);
    width: 145.4rem;
    height: 21rem;
    position: absolute;
  }
  .rectangle-17-Hvh {
    position: absolute;
    left: 0;
    top: 18.1rem;
    background-color: #eaeaea;
    border-radius: 4rem;
    width: 144.5rem;
    height: 85.1rem;
  }
  .nokkapood-travel-cTB {
    height: 12.2rem;
    position: absolute;
    top: 5rem;
    font-size: 5rem;
    font-family: Inter, 'Source Sans Pro';
    width: 28rem;
    left: 16.7rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
  }
  .red-cardinal-2-7Pw {
    width: 13.2rem;
    height: 13.2rem;
    position: absolute;
    left: 2rem;
    top: 3.7rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-27-ddB {
    left: 27.7rem;
    top: 25.7rem;
    background-color: #ffffff;
    width: 90rem;
    height: 69.9rem;
    position: absolute;
  }
  .rectangle-10-Zmj {
    border-radius: 0.5rem;
    height: 8rem;
    position: absolute;
    border: solid 0.1rem #b3b2b2;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 82.5rem;
    left: 31.4rem;
    top: 38.7rem;
  }
  .item--Gw3 {
    width: 32.5rem;
    height: 3.7rem;
    position: absolute;
    line-height: 1.2125;
    left: 31.4rem;
    top: 27.9rem;
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .qr-promptpay-LR7 {
    height: 3.7rem;
    position: absolute;
    left: 40.4rem;
    font-weight: 600;
    white-space: nowrap;
    width: 21rem;
    top: 41.2rem;
    font-size: 3rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .image-12-F2H {
    width: 10rem;
    height: 5.6259rem;
    position: absolute;
    left: 101.7rem;
    top: 39.9rem;
    object-fit: cover;
    vertical-align: top;
  }
  .group-38-aKT {
    width: 82.2rem;
    height: 8rem;
    left: 31.8rem;
    white-space: nowrap;
    display: flex;
    border-radius: 0.5rem;
    position: absolute;
    font-size: 4rem;
    font-family: Inter, 'Source Sans Pro';
    top: 84.1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.2125;
    color: #ffffff;
    align-items: center;
    background-color: #ff0000;
  }
  .line-3-4Ed {
    width: 82.5rem;
    height: 0.1rem;
    position: absolute;
    left: 31.4rem;
    top: 34.1rem;
    background-color: #d9d9d9;
  }
  .material-symbols-circle-outline-bEZ {
    height: 3.3333rem;
    position: absolute;
    left: 34.6333rem;
    top: 41.2333rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.3333rem;
  }
  .rectangle-28-7Cu {
    width: 82.5rem;
    left: 31.4rem;
    top: 51.3rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    height: 8rem;
    position: absolute;
    border: solid 0.1rem #b3b2b2;
    background-color: #ffffff;
  }
  .image-6-orR {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 104.7rem;
    top: 53.2rem;
    object-fit: cover;
    vertical-align: top;
  }
  .k-plus-wSq {
    font-size: 3rem;
    line-height: 1.2125;
    position: absolute;
    left: 40.4rem;
    top: 53.7rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 37.8rem;
    height: 3.7rem;
    font-weight: 600;
  }
  .material-symbols-circle-outline-S8h {
    object-fit: contain;
    vertical-align: top;
    width: 3.3333rem;
    height: 3.3333rem;
    position: absolute;
    left: 34.6333rem;
    top: 53.8333rem;
  }
  .rectangle-29-xsj {
    position: absolute;
    left: 31.4rem;
    top: 63.9rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.5rem;
    width: 82.5rem;
    height: 15.6rem;
  }
  .rectangle-30-gHw {
    height: 6rem;
    position: absolute;
    left: 34.3rem;
    border-radius: 0.5rem;
    width: 51rem;
    top: 71.7rem;
    border: solid 0.1rem #b3b2b2;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .group-37-BkV {
    width: 74.5rem;
    height: 9.6776rem;
    position: absolute;
    left: 37.2rem;
    top: 66.6rem;
    display: flex;
    align-items: flex-start;

    .image-12-uRb {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 6.5rem 40.673rem 0rem 0rem;
      width: 3.1776rem;
      height: 3.1776rem;
    }
    .bxs-down-arrow-1zR {
      margin: 7.225rem 8.15rem 0rem 0rem;
      width: 2.4998rem;
      height: 1.8751rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .image-8-YDf {
      margin-right: 1.028rem;
      width: 3.1776rem;
      height: 3.1776rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .image-9-GfT {
      flex-shrink: 0;
      margin-right: 1.0281rem;
      width: 3.1776rem;
      height: 3.1776rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-7-1N9 {
      height: 3.1776rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.028rem;
      width: 3.1776rem;
    }
    .image-10-kKj {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.0281rem;
      width: 3.1776rem;
      height: 3.1776rem;
      object-fit: cover;
    }
    .image-11-VHK {
      height: 3.1776rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 3.1776rem;
    }
  }
  .item--deR {
    white-space: nowrap;
    height: 3.7rem;
    left: 40.4rem;
    top: 66.3rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 32.5rem;
    position: absolute;
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
  }
  .item--VRj {
    position: absolute;
    top: 72.8rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #000000;
    height: 3.7rem;
    left: 42.2rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 34.3rem;
  }
  .material-symbols-circle-outline-ksT {
    width: 3.3333rem;
    height: 3.3333rem;
    position: absolute;
    left: 34.6333rem;
    top: 66.4333rem;
    object-fit: contain;
    vertical-align: top;
  }
  .dashicons-no-4t9 {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    position: absolute;
    left: 110.7rem;
    top: 26.4rem;
    object-fit: contain;
    vertical-align: top;
  }
}
