
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-2-Xh3 {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 195.8rem;

  .rectangle-16-D45 {
    height: 21rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0.4600000083);
    width: 145.4rem;
  }
  .rectangle-17-9Cd {
    left: 0;
    top: 18.1rem;
    background-color: #eaeaea;
    border-radius: 4rem;
    width: 144.5rem;
    height: 204.9rem;
    position: absolute;
  }
  .rectangle-4-suK {
    width: 130rem;
    height: 92.5rem;
    position: absolute;
    left: 9.9rem;
    top: 22.2rem;
    background-color: #d9d9d9;
    border-radius: 2rem;
  }
  .rectangle-24-Cwb {
    top: 117.5rem;
    background-color: #d9d9d9;
    border-radius: 2rem;
    width: 130rem;
    height: 45.6rem;
    position: absolute;
    left: 9.5rem;
  }
  .item--weH {
    color: #000000;
    position: absolute;
    left: 16.7rem;
    top: 121.5rem;
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 27.1rem;
    height: 3.7rem;
    font-size: 3rem;
  }
  .item--zcZ {
    width: 20.1rem;
    position: absolute;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    color: #ff0000;
    white-space: nowrap;
    height: 3.7rem;
    left: 116.7rem;
    top: 121.3rem;
    font-size: 3rem;
    font-weight: 700;
  }
  .nokkapood-travel-swF {
    width: 28rem;
    top: 5rem;
    font-size: 5rem;
    font-family: Inter, 'Source Sans Pro';
    height: 12.2rem;
    position: absolute;
    left: 16.7rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
  }
  .group-3-n2d {
    padding: 1rem 3.5rem 0.9rem 4.2rem;
    left: 108.9rem;
    top: 4.1rem;
    display: flex;
    border-radius: 1rem;
    box-sizing: border-box;
    width: 30rem;
    height: 8rem;
    position: absolute;
    align-items: center;
    background-color: #ff0000;

    .majesticons-user-51j {
      margin: 0rem 4.5rem 0.1rem 0rem;
      width: 4rem;
      height: 4.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .user-id-012345678-z8h {
      max-width: 13.8rem;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .red-cardinal-2-VLM {
    vertical-align: top;
    width: 13.2rem;
    height: 13.2rem;
    position: absolute;
    left: 2rem;
    top: 3.7rem;
    object-fit: cover;
  }
  .item--DGM {
    top: 24.7rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.7rem;
    left: 16.7rem;
    color: #000000;
    width: 12.7rem;
    position: absolute;
  }
  .item--gfj {
    font-size: 3rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    top: 24.7rem;
    height: 3.7rem;
    position: absolute;
    left: 32.9rem;
    font-weight: 700;
    line-height: 1.2125;
    white-space: nowrap;
    width: 12.7rem;
  }
  .octicon-arrow-switch-16-am7 {
    vertical-align: top;
    width: 2.25rem;
    height: 2.618rem;
    position: absolute;
    left: 28.875rem;
    top: 25.491rem;
    object-fit: contain;
  }
  .rectangle-19-7FF {
    top: 30.8rem;
    background-color: #f4d8d8;
    border-radius: 0.5rem;
    width: 110rem;
    height: 37.8rem;
    position: absolute;
    left: 20.3rem;
  }
  .item--Eam {
    color: #000000;
    height: 3.1rem;
    left: 34.6rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 13.6rem;
    position: absolute;
    top: 38.2rem;
    font-size: 2.5rem;
  }
  .item--j1j {
    width: 9.7rem;
    position: absolute;
    left: 58.1rem;
    height: 2.5rem;
    top: 41.7rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #8f979f;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item-6--R9T {
    left: 31.1rem;
    font-size: 2rem;
    white-space: nowrap;
    width: 11.8rem;
    position: absolute;
    top: 32.7rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
  }
  .item--ieM {
    font-size: 2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    left: 41.4rem;
    top: 32.7rem;
    font-weight: 500;
    color: #000000;
    width: 68.1rem;
    position: absolute;
  }
  .item--JsT {
    left: 90.6rem;
    font-size: 2rem;
    line-height: 1.2125;
    color: #8f979f;
    width: 8.5rem;
    height: 2.5rem;
    position: absolute;
    white-space: nowrap;
    top: 41.5rem;
    font-weight: 500;
    font-family: Inter, 'Source Sans Pro';
  }
  .item--1ms {
    width: 7.3rem;
    height: 2.5rem;
    top: 40.1rem;
    font-size: 2rem;
    font-weight: 500;
    color: #8f979f;
    position: absolute;
    left: 75.3rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item-2-30--igH {
    width: 13.5rem;
    left: 73.7rem;
    font-size: 2rem;
    line-height: 1.2125;
    color: #8f979f;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    top: 36.8rem;
    font-weight: 500;
  }
  .item-0815-Dsw {
    font-weight: 700;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 58.4rem;
    top: 38rem;
    font-size: 2.5rem;
    line-height: 1.2125;
    width: 6.7rem;
    height: 3.1rem;
    position: absolute;
  }
  .item-1045-8ED {
    color: #000000;
    white-space: nowrap;
    width: 7rem;
    height: 3.1rem;
    position: absolute;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    left: 90.6rem;
    top: 38rem;
    font-size: 2.5rem;
    line-height: 1.2125;
  }
  .image-3-X1T {
    top: 35.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 8.4rem;
    height: 8.4rem;
    position: absolute;
    left: 22.4rem;
  }
  .line-2-dqB {
    width: 15rem;
    height: 0.1rem;
    position: absolute;
    left: 70.1993rem;
    top: 39.5rem;
    background-color: #000000;
  }
  .rectangle-23-y8M {
    top: 32.5rem;
    background-color: #ff0000;
    width: 5rem;
    height: 3rem;
    position: absolute;
    left: 23.3rem;
  }
  .item--hq3 {
    top: 33.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    width: 3.7rem;
    left: 24.3rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 1.9rem;
    position: absolute;
  }
  .emojione-monotone-up-arrow-QjT {
    top: 74.2469rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.4063rem;
    height: 1.4063rem;
    position: absolute;
    left: 70.8469rem;
  }
  .rectangle-19-8vM {
    background-color: #f4d9d9;
    border-radius: 0.5rem;
    width: 110rem;
    height: 40.2rem;
    position: absolute;
    left: 20.3rem;
    top: 71.4rem;
  }
  .item--Gmf {
    position: absolute;
    top: 81.1rem;
    font-weight: 500;
    line-height: 1.2125;
    width: 13.6rem;
    left: 34.2rem;
    font-size: 2.5rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.1rem;
  }
  .item--As3 {
    height: 2.5rem;
    position: absolute;
    left: 57.7rem;
    top: 84.6rem;
    width: 9.7rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #8f979f;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item-9--TbF {
    width: 11.8rem;
    height: 2.5rem;
    position: absolute;
    font-size: 2rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 30.7rem;
    top: 75.6rem;
    font-weight: 500;
    line-height: 1.2125;
  }
  .item--MwX {
    left: 41rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    height: 2.5rem;
    top: 75.6rem;
    color: #000000;
    white-space: nowrap;
    width: 66.9rem;
  }
  .item--Ym7 {
    height: 2.5rem;
    position: absolute;
    left: 90.2rem;
    top: 84.4rem;
    font-size: 2rem;
    width: 8.5rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #8f979f;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item--T7P {
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
    position: absolute;
    left: 74.9rem;
    line-height: 1.2125;
    color: #8f979f;
    white-space: nowrap;
    width: 7.3rem;
    top: 83rem;
    font-size: 2rem;
    font-weight: 500;
  }
  .item-2-30--A1o {
    position: absolute;
    left: 73.3rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #8f979f;
    width: 13.5rem;
    height: 2.5rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    top: 79.7rem;
    font-size: 2rem;
  }
  .item-2215-r9X {
    left: 58rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    height: 3.1rem;
    position: absolute;
    top: 80.9rem;
    font-size: 2.5rem;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    width: 6.6rem;
  }
  .item-0045-AAD {
    width: 7.5rem;
    height: 3.1rem;
    position: absolute;
    left: 90.2rem;
    font-weight: 700;
    white-space: nowrap;
    top: 80.9rem;
    font-size: 2.5rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .image-3-s4d {
    width: 8.4rem;
    height: 8.4rem;
    position: absolute;
    left: 22rem;
    top: 78.3rem;
    object-fit: cover;
    vertical-align: top;
  }
  .line-2-nhP {
    width: 15rem;
    height: 0.1rem;
    position: absolute;
    left: 69.7993rem;
    top: 82.4rem;
    background-color: #000000;
  }
  .rectangle-23-7zZ {
    width: 6.2rem;
    height: 3rem;
    position: absolute;
    left: 22.9rem;
    top: 75.4rem;
    background-color: #ff0000;
  }
  .item--fFP {
    top: 76.1rem;
    font-weight: 600;
    white-space: nowrap;
    left: 23.9rem;
    font-size: 1.5rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 5.5rem;
    height: 1.9rem;
    position: absolute;
  }
  .group-27-ZLm {
    width: 130.4rem;
    height: 27.2rem;
    border-radius: 2rem;
    background-color: #d9d9d9;
    box-sizing: border-box;
    padding: 4.1rem 3.2rem 1.5rem 3.9rem;
    position: absolute;
    left: 9.1rem;
    top: 165.9rem;

    .nokkapood-travel--FzH {
      font-size: 2rem;
      color: #8f979f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      margin: 0rem 0rem 3.1rem 1.4rem;
      font-weight: 500;
      line-height: 1.2125;

      .nokkapood-travel--FzH-sub-0 {
      }
      .nokkapood-travel--FzH-sub-1 {
        line-height: 1.2125;
        color: #8f979f;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 700;
      }
      .nokkapood-travel--FzH-sub-2 {
      }
    }
    .auto-group-9yk9-YVX {
      margin: 0rem 0rem 1.9rem 0.9rem;
      width: calc(100% - 0.9rem);
      display: flex;
      align-items: center;

      .item--U8H {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 83.9rem 0.1rem 0rem;
      }
      .item-600000-aBK {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-dtp1-tC1 {
      align-items: center;
      border-radius: 1rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      background-color: #ff0000;
      width: 122.9rem;
      height: 9.1rem;
      font-size: 5rem;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
    }
  }
  .frame-1-A9X {
    width: 103.3rem;
    left: 23.4rem;
    top: 46.9rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem 2.9rem 2.6rem 3.3rem;
    height: 20rem;
    position: absolute;
    background-color: #ffffff;

    .auto-group-ffih-TPX {
      margin: 0rem 11.9rem 1rem 0rem;
      width: 68.6rem;
      flex-shrink: 0;

      .auto-group-xkuq-ME1 {
        width: calc(100% - 44rem);
        display: flex;
        align-items: flex-start;
        margin: 0rem 43.9rem 1.4rem 0.1rem;

        .image-3-4u7 {
          flex-shrink: 0;
          margin-right: 2rem;
          width: 3rem;
          height: 3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .fd0123-be9 {
          color: #8f979f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
        }
      }
      .auto-group-15gd-KKF {
        align-items: flex-end;
        width: 100%;
        height: 10rem;
        display: flex;

        .auto-group-gacy-GVP {
          margin-right: 0.0248rem;
          width: 23.4752rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .item-6--oVK {
            height: 2.5rem;
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 8.7rem;
            position: absolute;
            left: 0;
            top: 0.3rem;
            font-size: 2rem;
            color: #8f979f;
          }
          .item-6--Wed {
            position: absolute;
            left: 0;
            color: #8f979f;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.2125;
            width: 8.7rem;
            height: 2.5rem;
            top: 7.5rem;
            font-size: 2rem;
            font-weight: 500;
          }
          .item-0815-RFo {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.7rem;
            position: absolute;
            top: 0;
            font-weight: 700;
            color: #000000;
            width: 5.9rem;
            left: 9.9rem;
            font-size: 2.2rem;
            line-height: 1.2125;
          }
          .item-1045-Y5X {
            width: 6.1rem;
            height: 2.7rem;
            top: 7.2rem;
            font-size: 2.2rem;
            line-height: 1.2125;
            white-space: nowrap;
            position: absolute;
            left: 9.9rem;
            font-weight: 700;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .teenyicons-line-solid-e8Z {
            left: 13.9998rem;
            top: 0.3997rem;
            object-fit: contain;
            vertical-align: top;
            width: 9.4754rem;
            height: 9.4756rem;
            position: absolute;
          }
          .item-2-30--MHs {
            white-space: nowrap;
            height: 2.5rem;
            left: 5.1rem;
            line-height: 1.2125;
            font-size: 2rem;
            font-weight: 500;
            color: #8f979f;
            font-family: Inter, 'Source Sans Pro';
            width: 13.5rem;
            position: absolute;
            top: 3.7rem;
          }
        }
        .auto-group-hj8y-eXs {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--CZP {
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.7rem;
            font-size: 2rem;
          }
          .item--eAV {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-ttah-tqX {
      height: 12.6rem;
      position: relative;
      flex-shrink: 0;
      margin-top: 2.8rem;
      width: 16.6rem;

      .rectangle-26-pz5 {
        border-radius: 0.5rem;
        width: 15.4rem;
        height: 12.6rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #8f979f;
      }
      .item--Mz1 {
        position: absolute;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 13.3rem;
        height: 2.5rem;
        font-size: 2rem;
        white-space: nowrap;
        left: 3.3rem;
        top: 3.3rem;
      }
      .airbus-a320-eTK {
        height: 2.5rem;
        left: 2rem;
        color: #000000;
        white-space: nowrap;
        width: 12.2rem;
        position: absolute;
        top: 7.2rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .frame-2-AAm {
    left: 23.9rem;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem 2.9rem 2.6rem 3.3rem;
    width: 103.3rem;
    position: absolute;
    background-color: #ffffff;
    height: 20rem;
    top: 89.5rem;
    overflow: hidden;
    display: flex;

    .auto-group-quwp-Tff {
      width: 68.6rem;
      flex-shrink: 0;
      margin: 0rem 11.9rem 1rem 0rem;

      .auto-group-xand-bWy {
        margin: 0rem 43.9rem 1.4rem 0.1rem;
        width: calc(100% - 44rem);
        display: flex;
        align-items: flex-start;

        .image-3-j7P {
          margin-right: 2rem;
          width: 3rem;
          height: 3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .fd0123-4vM {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #8f979f;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-hhmt-z3K {
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: flex-end;

        .auto-group-mbxd-LN5 {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 0.0248rem;
          width: 23.4752rem;

          .item-9--sN1 {
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 8.7rem;
            height: 2.5rem;
            top: 0.3rem;
            font-weight: 500;
            color: #8f979f;
            position: absolute;
            left: 0;
            font-size: 2rem;
          }
          .item-10--aGR {
            left: 0;
            font-size: 2rem;
            font-weight: 500;
            color: #ff0000;
            width: 9.7rem;
            position: absolute;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.5rem;
            top: 7.5rem;
          }
          .item-2215-HRj {
            left: 9.9rem;
            width: 5.8rem;
            height: 2.7rem;
            position: absolute;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            top: 0;
            font-size: 2.2rem;
            font-weight: 700;
          }
          .item-0045-16q {
            white-space: nowrap;
            width: 6.6rem;
            height: 2.7rem;
            position: absolute;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            left: 9.9rem;
            top: 7.2rem;
            font-size: 2.2rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .teenyicons-line-solid-KNR {
            left: 13.9998rem;
            top: 0.3997rem;
            object-fit: contain;
            vertical-align: top;
            width: 9.4754rem;
            height: 9.4756rem;
            position: absolute;
          }
          .item-2-30--Sxq {
            height: 2.5rem;
            position: absolute;
            left: 5.1rem;
            top: 3.7rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            width: 13.5rem;
            color: #8f979f;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-kkdj-wPo {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--VRK {
            margin-bottom: 4.7rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item--YuP {
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
        }
      }
    }
    .auto-group-fhdb-bcm {
      margin-top: 2.8rem;
      width: 16.6rem;
      height: 12.6rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-26-vuw {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #8f979f;
        border-radius: 0.5rem;
        width: 15.4rem;
        height: 12.6rem;
      }
      .item--4mF {
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
        width: 13.3rem;
        height: 2.5rem;
        position: absolute;
        left: 3.3rem;
        top: 3.3rem;
        font-size: 2rem;
        font-weight: 600;
        color: #000000;
        white-space: nowrap;
      }
      .airbus-a320-jsP {
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        top: 7.2rem;
        font-weight: 600;
        color: #000000;
        line-height: 1.2125;
        white-space: nowrap;
        width: 12.2rem;
        position: absolute;
        left: 2rem;
        font-size: 2rem;
      }
    }
  }
  .group-14-FKw {
    position: absolute;
    left: 16.7rem;
    border-radius: 1rem;
    padding: 2.3rem 2.5rem 2rem 2.5rem;
    width: 52.5rem;
    height: 8rem;
    border: solid 0.1rem #000000;
    top: 128.4rem;
    color: #8f979f;
    background-color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2125;
  }
  .group-29-r4q {
    box-sizing: border-box;
    position: absolute;
    font-weight: 500;
    white-space: nowrap;
    font-size: 3rem;
    color: #8f979f;
    width: 52.5rem;
    height: 8rem;
    top: 139.3rem;
    line-height: 1.2125;
    background-color: #ffffff;
    padding: 2.3rem 2.5rem 2rem 2.5rem;
    left: 16.7rem;
    font-family: Inter, 'Source Sans Pro';
    border: solid 0.1rem #000000;
    border-radius: 1rem;
  }
  .group-31-gpZ {
    top: 150.2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 500;
    color: #8f979f;
    background-color: #ffffff;
    padding: 2.3rem 2.5rem 2rem 2.5rem;
    width: 52.5rem;
    height: 8rem;
    position: absolute;
    left: 16.6rem;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 3rem;
    border: solid 0.1rem #000000;
    border-radius: 1rem;
  }
  .group-30-jXw {
    left: 73.3rem;
    top: 139.3rem;
    font-size: 3rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    padding: 2.3rem 2.5rem 2rem 2.5rem;
    position: absolute;
    line-height: 1.2125;
    color: #8f979f;
    border-radius: 1rem;
    box-sizing: border-box;
    width: 52.5rem;
    height: 8rem;
    font-weight: 500;
  }
  .group-28-Beq {
    left: 73.3rem;
    top: 128.4rem;
    border: solid 0.1rem #000000;
    border-radius: 1rem;
    padding: 2.3rem 3.1rem 2rem 3.1rem;
    height: 8rem;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 500;
    font-family: Inter, 'Source Sans Pro';
    background-color: #ffffff;
    box-sizing: border-box;
    color: #8f979f;
    line-height: 1.2125;
    width: 52.5rem;
    position: absolute;
  }
  .material-symbols-delete-outline-3BF {
    width: 3.3333rem;
    height: 3.75rem;
    position: absolute;
    left: 131.1333rem;
    top: 121.225rem;
    object-fit: contain;
    vertical-align: top;
  }
  .group-33-Mxd {
    height: 8rem;
    font-size: 2.5rem;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 600;
    white-space: nowrap;
    justify-content: center;
    background-color: #ff0000;
    border-radius: 1rem;
    width: 30rem;
    position: absolute;
    left: 72.3rem;
    color: #ffffff;
    align-items: center;
    top: 4.1rem;
    line-height: 1.2125;
    display: flex;
  }
}
