
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 7rem;
}.item-1045-6rd {
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  height: 3.1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
}
