
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100rem;
}.frame-2-Z1T {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 2rem 1.6rem 3.6rem 3.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-5jym-Hi9 {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 70.4rem 1.4rem 0.1rem;
    width: calc(100% - 70.5rem);

    .image-3-cVX {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2rem;
      width: 3rem;
      height: 3rem;
    }
    .fd3210-kLq {
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.1rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #8f979f;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-rssm-ruf {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 10rem;

    .auto-group-zhdb-1Xf {
      width: 23.4752rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .item-9--kk9 {
        height: 2.5rem;
        position: absolute;
        left: 0;
        top: 0.3rem;
        font-size: 2rem;
        font-weight: 500;
        color: #8f979f;
        white-space: nowrap;
        width: 8.7rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .item-10--TPf {
        top: 7.5rem;
        font-size: 2rem;
        line-height: 1.2125;
        height: 2.5rem;
        position: absolute;
        left: 0;
        font-weight: 500;
        color: #ff0000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.7rem;
      }
      .item-2215-NFj {
        width: 5.8rem;
        left: 9.9rem;
        font-size: 2.2rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 2.7rem;
        position: absolute;
        top: 0;
        font-weight: 700;
        white-space: nowrap;
      }
      .item-0045-gnD {
        width: 6.6rem;
        height: 2.7rem;
        left: 9.9rem;
        top: 7.2rem;
        line-height: 1.2125;
        position: absolute;
        font-size: 2.2rem;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .teenyicons-line-solid-znu {
        height: 9.4756rem;
        position: absolute;
        left: 13.9998rem;
        top: 0.3997rem;
        object-fit: contain;
        vertical-align: top;
        width: 9.4754rem;
      }
      .item-2-30--vRf {
        font-size: 2rem;
        font-weight: 500;
        height: 2.5rem;
        top: 3.7rem;
        left: 5.1rem;
        line-height: 1.2125;
        color: #8f979f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.5rem;
        position: absolute;
      }
    }
    .auto-group-eunm-1xu {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 0rem 0rem 0.025rem;
      height: 100%;
      display: flex;
      align-items: center;

      .auto-group-d1ub-wbf {
        margin-right: 10.1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--u2h {
          flex-shrink: 0;
          margin-bottom: 4.7rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--wzy {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-q9kv-CR7 {
        margin: 0.8rem 0rem 0.9rem 0rem;
        width: 16.4rem;
        height: calc(100% - 1.7rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-25-vc1 {
          left: 0;
          top: 0;
          background-color: rgba(217, 217, 217, 0.8000000119);
          border-radius: 0.5rem;
          width: 15rem;
          height: 8rem;
          position: absolute;
        }
        .item--Tbw {
          height: 2.5rem;
          left: 3.1rem;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 13.3rem;
          top: 1.3rem;
          font-weight: 600;
          line-height: 1.2125;
          white-space: nowrap;
          position: absolute;
        }
        .airbus-a320-x2u {
          color: #000000;
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
          left: 1.8rem;
          top: 4.5rem;
          font-size: 2rem;
          line-height: 1.2125;
          width: 12.2rem;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
}
