
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-Sk1 {
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding-bottom: 34.4rem;
  width: 100%;
  overflow: hidden;
  background-image: url('REPLACE_IMAGE:40fd287d6cd81e39e25b22271b2291e328721980');
  background-color: #ffffff;

  .auto-group-p7cv-QaM {
    width: 154.7632rem;
    height: 19.5rem;
    display: flex;
    align-items: center;
    background-color: rgba(200, 139, 142, 0.6999999881);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.2rem 0rem 1.8rem 2rem;

    .red-cardinal-1-S9f {
      margin: 0rem 1.5rem 0.3rem 0rem;
      width: 13.2rem;
      height: 13.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .nokkapood-travel-WvD {
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 1.3rem 53.8rem 0rem 0rem;
      max-width: 28rem;
      font-size: 5rem;
    }
    .auto-group-nzgh-BWZ {
      margin: 1.3rem 0rem 1.946rem 0rem;
      width: 56.2632rem;
      height: calc(100% - 3.2458rem);
      position: relative;
      flex-shrink: 0;

      .group-2-Gnu {
        height: 10.2542rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 1rem;
        width: 32.65rem;

        .rectangle-1-QPK {
          border-radius: 1rem;
          width: 18.3333rem;
          height: 6.0241rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ff0000;
        }
        .item--Vff {
          top: 1.7rem;
          position: absolute;
          height: 3rem;
          left: 3.9rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          width: 13rem;
          white-space: nowrap;
        }
      }
      .group-3-86M {
        left: 24.7rem;
        top: 0;
        border-radius: 1rem;
        width: 31.5632rem;
        height: 10.2542rem;
        cursor: pointer;
        position: absolute;

        .rectangle-1-Fgm {
          height: 6.0241rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ff0000;
          border-radius: 1rem;
          width: 16rem;
        }
        .item--zPT {
          font-size: 2.4rem;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          top: 1.7rem;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          width: 15.9rem;
          height: 3rem;
          position: absolute;
          left: 3.2rem;
        }
      }
    }
  }
  .item--Rjf {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 3.9rem 19.2rem;
  }
  .auto-group-hdpw-KKF {
    border-radius: 2rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 4rem 4.2rem 4rem;
    width: calc(100% - 44rem);
    display: flex;
    flex-direction: column;
    margin: 0rem 25.9rem 0rem 18.1rem;
    background-color: #d9d9d9;

    .auto-group-tfmj-zgH {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 32.4rem 2.8rem 0rem;
      width: calc(100% - 32.4rem);
      height: 3.2rem;
      display: flex;

      .group-8-7W1 {
        flex-shrink: 0;
        margin-right: 2.4rem;
        box-sizing: border-box;
        padding-left: 0.4925rem;
        height: 3.1rem;
        display: flex;
        align-items: center;

        .mdi-airplane-qgu {
          margin: 0rem 2.075rem 0.099rem 0rem;
          width: 2.1328rem;
          height: 2.1319rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-6-MfF {
          width: 12.3rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .item--yAq {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 12.3rem;
            height: 3.1rem;
            position: absolute;
            left: 0;
            top: 0;
            line-height: 1.2125;
            white-space: nowrap;
            font-size: 2.5rem;
            font-weight: 500;
          }
          .line-md-chevron-down-mku {
            width: 1.4rem;
            height: 0.7rem;
            position: absolute;
            left: 9.6rem;
            top: 1.2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-nbvh-HUM {
        flex-shrink: 0;
        width: 40.2rem;
        height: 100%;
        position: relative;

        .group-10-SMF {
          align-items: center;
          width: 19.7rem;
          height: 3.2rem;
          position: absolute;
          left: 0;
          display: flex;
          box-sizing: border-box;
          padding: 0.1rem 0rem 0rem 1rem;
          top: 0;

          .material-symbols-man-A2M {
            margin: 0rem 2.2rem 0.3rem 0rem;
            width: 1rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .group-4-FpV {
            width: 15.5rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .item-1--DWR {
              color: #000000;
              white-space: nowrap;
              width: 15.5rem;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 2.5rem;
              font-weight: 500;
              height: 3.1rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
            }
            .line-md-chevron-down-ue9 {
              left: 9.6rem;
              top: 1.2rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 0.7rem;
              position: absolute;
            }
          }
        }
        .group-11-qGu {
          position: absolute;
          top: 0;
          display: flex;
          box-sizing: border-box;
          padding: 0.1rem 0rem 0rem 0.25rem;
          width: 21.3rem;
          height: 3.2rem;
          left: 18.9rem;
          align-items: center;

          .mdi-seat-v3T {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.95rem 0.3rem 0rem;
            width: 2.5rem;
            height: 2.25rem;
          }
          .group-9-RW1 {
            flex-shrink: 0;
            width: 16.6rem;
            height: 100%;
            position: relative;

            .group-5-Ng9 {
              vertical-align: top;
              width: 2.4rem;
              height: 2.4rem;
              position: absolute;
              left: 11.5rem;
              top: 0.5rem;
              object-fit: contain;
            }
            .item--iV7 {
              white-space: nowrap;
              width: 16.6rem;
              height: 3.1rem;
              position: absolute;
              left: 0;
              font-size: 2.5rem;
              font-weight: 500;
              font-family: Inter, 'Source Sans Pro';
              top: 0;
              line-height: 1.2125;
              color: #000000;
            }
          }
        }
      }
    }
    .auto-group-alfb-PbF {
      margin: 0rem 0rem 4rem 1.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-5-itR {
        margin-right: 0.8333rem;
        width: 40rem;
        height: 8rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
      .maki-arrow-rUq {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.733rem 0.003rem 0rem;
        width: 3.7333rem;
        height: 2.93rem;
        object-fit: contain;
      }
      .rectangle-6-BGD {
        width: 40rem;
        height: 8rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-7t5k-X5B {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 25.1rem 0rem 1.5rem;
      width: calc(100% - 26.6rem);
      height: 8rem;
      display: flex;

      .rectangle-7-qrZ {
        margin-right: 5.4rem;
        width: 40rem;
        height: 8rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
      .auto-group-6bbx-mkD {
        padding: 2rem 2.1rem 2.3rem 3.5rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ff0000;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .material-symbols-search-i9f {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.3rem 2.3rem 0rem 0rem;
        }
        .item--2RF {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2125;
        }
      }
    }
  }
}
