
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-login-toT {
  box-sizing: border-box;
  padding-bottom: 34.4rem;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:40fd287d6cd81e39e25b22271b2291e328721980');

  .auto-group-vzxu-cDf {
    margin-bottom: 6.3rem;
    box-sizing: border-box;
    padding: 3.7rem 5.1rem 2.3rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(200, 139, 142, 0.6999999881);
    flex-shrink: 0;

    .red-cardinal-1-K85 {
      width: 13.2rem;
      height: 13.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.5rem 0.3rem 0rem;
    }
    .nokkapood-travel-q6R {
      font-size: 5rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 1.3rem 27.8rem 0rem 0rem;
      max-width: 28rem;
    }
    .group-33-85X {
      color: #ffffff;
      background-color: #ff0000;
      width: 30rem;
      line-height: 1.2125;
      align-items: center;
      border-radius: 1rem;
      margin: 0rem 6.4rem 4.7rem 0rem;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
      height: 8rem;
      font-weight: 600;
      font-size: 2.5rem;
      justify-content: center;
    }
    .group-3-NEm {
      flex-shrink: 0;
      margin-bottom: 4.7rem;
      box-sizing: border-box;
      padding: 1rem 3.4rem 0.9rem 4.2rem;
      display: flex;
      align-items: center;
      background-color: #ff0000;
      border-radius: 1rem;

      .majesticons-user-HsX {
        height: 4.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.5rem 0.1rem 0rem;
        width: 4rem;
      }
      .user-id-012345678-DFP {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 13.9rem;
      }
    }
  }
  .item--6KB {
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 3.9rem 19.2rem;
    font-size: 5rem;
  }
  .auto-group-szld-zfT {
    margin: 0rem 25.9rem 0rem 18.1rem;
    box-sizing: border-box;
    padding: 2rem 4rem 4.2rem 4rem;
    display: flex;
    background-color: #d9d9d9;
    border-radius: 2rem;
    width: calc(100% - 44rem);
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-51cd-h45 {
      height: 3.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 32.4rem 2.8rem 0rem;
      width: calc(100% - 32.4rem);

      .auto-group-qqkz-1aZ {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 2.2rem;
        height: 100%;

        .group-8-xkh {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 3.4rem 0.1rem 0rem;
          box-sizing: border-box;
          padding-left: 0.4925rem;
          height: 3.1rem;

          .mdi-airplane-tPT {
            margin: 0rem 2.075rem 0.099rem 0rem;
            width: 2.1328rem;
            height: 2.1319rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .group-6-Cuw {
            position: relative;
            flex-shrink: 0;
            width: 12.3rem;
            height: 100%;

            .item--ZVb {
              width: 12.3rem;
              height: 3.1rem;
              top: 0;
              font-weight: 500;
              color: #000000;
              position: absolute;
              left: 0;
              font-size: 2.5rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .line-md-chevron-down-fHj {
              width: 1.4rem;
              height: 0.7rem;
              position: absolute;
              left: 9.6rem;
              top: 1.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .material-symbols-man-aQh {
          margin-bottom: 0.2rem;
          width: 1rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-7kz1-7fX {
        width: 36rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .group-4-56Z {
          position: absolute;
          left: 0;
          top: 0.1rem;
          width: 15.5rem;
          height: 3.1rem;

          .item-1--pK3 {
            white-space: nowrap;
            width: 15.5rem;
            left: 0;
            top: 0;
            font-size: 2.5rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            height: 3.1rem;
            position: absolute;
            font-weight: 500;
            color: #000000;
          }
          .line-md-chevron-down-iQR {
            vertical-align: top;
            width: 1.4rem;
            height: 0.7rem;
            position: absolute;
            left: 9.6rem;
            top: 1.2rem;
            object-fit: contain;
          }
        }
        .group-11-F9T {
          box-sizing: border-box;
          width: 21.3rem;
          align-items: center;
          top: 0;
          display: flex;
          padding: 0.1rem 0rem 0rem 0.25rem;
          height: 3.2rem;
          position: absolute;
          left: 14.7rem;

          .mdi-seat-Lgh {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.95rem 0.3rem 0rem;
            width: 2.5rem;
            height: 2.25rem;
          }
          .group-9-sAq {
            width: 16.6rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .group-5-RTF {
              height: 2.4rem;
              position: absolute;
              left: 11.5rem;
              top: 0.5rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.4rem;
            }
            .item--Y25 {
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              left: 0;
              top: 0;
              position: absolute;
              font-size: 2.5rem;
              font-weight: 500;
              color: #000000;
              white-space: nowrap;
              width: 16.6rem;
              height: 3.1rem;
            }
          }
        }
      }
    }
    .auto-group-wpzp-cGq {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 4rem 1.5rem;

      .rectangle-5-X8u {
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 0.8333rem;
        width: 40rem;
        height: 8rem;
      }
      .maki-arrow-eDX {
        margin: 0rem 0.733rem 0.003rem 0rem;
        width: 3.7333rem;
        height: 2.93rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-6-ZbP {
        height: 8rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 40rem;
      }
    }
    .auto-group-kykh-6rD {
      width: calc(100% - 26.6rem);
      height: 8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 25.1rem 0rem 1.5rem;

      .rectangle-7-Rdb {
        flex-shrink: 0;
        margin-right: 5.4rem;
        width: 40rem;
        height: 8rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
      }
      .auto-group-w6g1-mSZ {
        padding: 2rem 2.1rem 2.3rem 3.5rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ff0000;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .material-symbols-search-hb7 {
          flex-shrink: 0;
          margin: 0.3rem 2.3rem 0rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .item--dUm {
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
}
